@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: black;
}
body {
  background-image: url(./images/bg.jpg);
}
.container-header {
  text-align: center;
  margin-top: 80px;
}

p {
  font-weight: bold;
}

.header {
  font-weight: bold;
}
.content-body {
  text-align: center;
}

.rounded-circle {
  width: 150px;
  height: 150px;
}

.button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
